.buttonPlay {
  background-color: #1ed661 !important;
  width: 10vw;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
}

.iconss {
  color: #1ed661 !important;
}

.thead {
  border-bottom: 1px solid #525352;
  color: rgb(219, 218, 218) !important;
}

.table-roww {
  cursor: pointer;
}

.table-roww .titleLogo,
.table-roww .heartIcon {
  display: none;
}

.table-roww .timee {
  justify-content: end !important;
}

.table-roww:hover {
  background: rgb(24, 24, 24) !important;
  border-radius: 5px !important;
  color: rgb(231, 229, 229);
}

.table-roww:hover .titleNum {
  display: none;
}

.table-roww:hover .titleLogo,
.table-roww:hover .heartIcon {
  display: block;
}

.songt:hover {
  text-decoration: underline;
}

.col1 {
  width: 30px !important;
}

.heartIcon {
  margin-right: 30px !important;
}
.datee {
  margin-left: -90px !important;
  width: 20vw !important;
}
