.navbar {
  background-color: rgb(8, 8, 8);
}

.navLogged {
  background-image: linear-gradient(
    rgba(145, 14, 79, 0.6) 10%,
    rgba(109, 14, 62, 0.6) 100%
  ) !important;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
}

.arrows {
  cursor: pointer;
  margin-left: 50px;
}

.arrow:hover {
  color: rgb(255, 255, 255) !important;
}

.buttons Button {
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.nav-inside {
  display: flex;
  justify-content: space-between;
}

.btn1 {
  width: 6vw !important;
}

.search {
  width: 25vw !important;
  border: none !important;
  border-radius: 50px !important;
  background-color: #1a1919 !important;
  color: white !important;
}

.search:focus {
  box-shadow: none !important;
}
