.navbar {
  background-color: rgb(8, 8, 8);
}
.buttons {
  display: flex;
  gap: 10px;
}

.arrows {
  cursor: pointer;
}

.arrow:hover {
  color: rgb(255, 255, 255) !important;
}

.buttons Button {
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.nav-inside {
  display: flex;
  justify-content: space-between;
}

.btn1 {
  width: 6vw !important;
}

.search {
  width: 25vw !important;
  border: none !important;
  border-radius: 50px !important;
}

.search:focus {
  box-shadow: none !important;
}
