.sidebar {
  color: rgb(190, 187, 187);
}

#activee:hover {
  color: red !important;
}

.slogo {
  width: 45px;
  height: 45px !important;
  filter: blur(0.5px);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
