.formm {
  width: 22vw !important;
}

.agree {
  color: rgb(15, 88, 9) !important;
  text-decoration: underline !important;
}

.agree:hover {
  color: rgb(37, 141, 27) !important;
}

.sign {
  width: 8vw !important;
}

.btnn {
  width: 21vw !important;
}
